body{
    background-color: rgb(98, 221, 112);
    padding: 10px;
}

.chatbox{
    background-color: white;
    width: 100%;
    padding: 10px;
}

.user-input{
    width: 100%;
    padding: 10px;
    border: none;
}